@use "../../foundation/color" as c;
@use "../../foundation/font" as f;
@use "../../foundation/mixin" as m;

.pg-prepare{
    display: grid;
    place-content: center;
    height: 100vh;
    h3{
        font-size: clamp(1.6rem,4.5vw,2.8rem);
        font-weight: 600;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(-225deg, c.$green 0%, c.$purple 56%, c.$pink 100%,#ee7752);
        -webkit-background-clip: text;
    }
}