<%
    page = 'prepare'
    path = '/'
%>
<%-
    include('../layout/_head', {
        meta: pageData['prepare']
    });
%>
<main>
    <section class="pg-prepare u-width-960">
        <h3>Comming soon...</h3>
        <a href="/" class="c-button js-stick-link">
            <span>Top</span>
        </a>
    </section>
</main>
<%-
    include('../layout/_footer', {
        meta: pageData['prepare']
    });
%>