
    <footer id="js-footer" class="l-footer">
        <div class="l-footer__inner">
            <a href="https://github.com/nao5100000" class="l-footer__icon" target="_blank" rel="noopener">
                <img src="<%= path %>images/index/github-icon.svg" alt="github icon">
            </a>
        </div>
        <span class="l-footer__circle" id="js-footer-circle"></span>
    </footer>
    <!-- polyfill  -->
    <script src="<%= path %>js/ofi.min.js"></script>
    <script>
        objectFitImages();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- common -->
    <script type="text/javascript" src="<%= path %>js/script.min.js"></script>
    <script>document.addEventListener('touchstart',function(){});</script>
</body>
</html>