@use "../foundation/color" as c;
@use "../foundation/font" as f;
@use "../foundation/mixin" as m;


.l-footer{
    background-color: c.$dark-gray;
    height: 200px;
    &__icon{
        display: block;
        width: 30px;
        img{
            width: 100%;
        }
    }
}