@use "../foundation/color" as c;
@use "../foundation/font" as f;
@use "../foundation/mixin" as m;


.l-footer{
    position: relative;
    background-color: c.$dark-gray;
    padding: 120px 0 90px;
    overflow: hidden;
    &__circle{
        content: "";
        display: block;
        background: var(--base-color);
        width: 120vw;
        height: 400px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%,-50%);
        box-shadow: var(--bs-normal03);
    }
    &__inner{
        width: 90%;
        margin: 0 auto;
    }
    &__icon{
        display: block;
        width: 30px;
        img{
            width: 100%;
        }
    }
}