@use "../foundation/color" as c;
@use "../foundation/mixin" as m;

.l-header{
    &__wrapper{
        @include m.flexbox(flex-end,center,nowrap);
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
        z-index: 100;
    }
    &__nav{
        ul{
            @include m.flexbox(flex-end,center,nowrap);
            li{
                transition: transform .3s var(--cb01);
                will-change: transform;
                &:not(.link-button){
                    position: relative;
                    &::after{
                        content: "";
                        display: block;
                        background: #000;
                        width: 0px;
                        height: 0px;
                        border-radius: 50%;
                        position: absolute;
                        left: 50%;
                        bottom: -10px;
                        transform: translate(-50%,0);
                        transition: width .3s ease-in-out,height .3s ease-in-out;
                    }
                    &:hover{
                        &::after{
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
            }
            a{
                min-width: 80px;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
    &__toggle{
        margin-left: 40px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 30px;
        padding: 6px;
        @include m.flexbox(center,center,nowrap);
        box-shadow: var(--bs-normal);
        width: 170px;
        height: 3em;
        a{
            width: 50%;
            height: 100%;
            border-radius: 30px;
        }
    }
    &__ham{
        position: fixed;
        width: 0px;
        height: 0px;
        opacity: 0;
        border-radius: 50%;
        background: white;
        box-shadow: var(--bs-normal);
        cursor: pointer;
        will-change: width, height,opacity;
        transition: width .4s var(--cb02),height .4s var(--cb02),opacity .4s var(--cb02),transform .3s var(--cb01);
        top: 30px;
        right: 5%;
        height: 30px;
        z-index: 999;
        &.is_active{
            width: 60px;
            height: 60px;
            opacity: 1;
        }
        span{
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            transition: transform .3s var(--cb01);
            &::before,&::after{
                content: "";
                background: #000;
                height: 1px;
                width: 30px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            &::before{
                top: 45%;
            }
            &::after{
                top: 55%;
            }
        }
    }

    .ham_circle{
        
    }
}