@use "../../foundation/color" as c;
@use "../../foundation/font" as f;
@use "../../foundation/mixin" as m;

.pg-index-main{
    position: relative;
    height: 600px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0,0,0,.1), transparent);
    h1{
        font-size: clamp(2.5rem,5.5vw,4rem);
        display: inline-block;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(-225deg, c.$green 0%, c.$purple 56%, c.$pink 100%);
        -webkit-background-clip: text;
        font-weight: var(--fw-bolder);
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        text-align: center;
        z-index: 500;
    }
    .scroll-border{
        height: 150px;
        writing-mode: vertical-rl;
        position: absolute;
        bottom: 0;
        right: 5%;
        transform: translateX(-50%);
        text-align: left;
        font-size: .8rem;
        &::before{
            content: "";
            display: block;
            width: 1px;
            height: 1px;
            background: black;
            position: absolute;
            right: 0;
            top: 0;
            animation: pathmove 2s ease-in-out infinite;
            @keyframes pathmove{
                0%{
                    height: 0;
                    top: 0px;
                    opacity: 0;
                }
                30%{
                    height: 60px;
                    opacity: 1;
                }
                100%{
                    height: 0;
                    top: 70px;
                    opacity: 0;
                }
            }
        }
    }
    .particle-wrapper{
        width: 40vw;
        height: 70vw;
        position: absolute;
        top: 50%;
        left: 460px;
        transform: translate(-50%,-50%);
        transition: all .5s var(--cb01);
        will-change: opacity, transform;
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        .particle{
            position: absolute;
            background-color: c.$dark-gray;
            will-change: transform;
            transition: transform .3s cubic-bezier(.24,.45,.32,1);
            &-8{
                width: 11px;
                height: 11px;
                opacity: .15;

                border-radius: 3px;
                top: 111px;
                right: 64px;
                transform: rotate(17deg);
            }
            &-7{
                width: 9px;
                height: 9px;
                opacity: .2;
                border-radius: 2px;
                top: 213px;
                right: 104px;
                transform: rotate(-14deg);
            }
            &-6{
                width: 12px;
                height: 12px;
                opacity: .2;
                border-radius: 4px;
                top: 251px;
                right: 262px;
                transform: rotate(14deg);
            }
            &-5{
                width: 12px;
                height: 12px;
                opacity: .2;
                border-radius: 4px;
                top: 203px;
                right: 448px;
                transform: rotate(-11deg);
            }
            &-4{
                width: 15px;
                height: 15px;
                opacity: .2;
                background-color: #000;
                border-radius: 5px;
                position: absolute;
                top: 64px;
                right: 428px;
                transform: rotate(26deg);
            }
            &-3{
                width: 9px;
                height: 9px;
                opacity: .4;
                border-radius: 2px;
                top: 94px;
                right: 624px;
                transform: rotate(-17deg);
            }
            &-2{
                width: 9px;
                height: 9px;
                opacity: .4;
                border-radius: 2px;
                top: 94px;
                right: 624px;
                transform: rotate(-17deg);
            }
            &-1{
                width: 20px;
                height: 20px;
                opacity: .4;
                border-radius: 6px;
                top: 90px;
                right: 159px;
                transform: rotate(51deg);
            }
        }
    }
}