@use "../../foundation/color" as c;
@use "../../foundation/font" as f;
@use "../../foundation/mixin" as m;

.pg-index-works{
    @include m.flexbox(space-between,stretch,wrap);
    gap: calc(100vw * 0.06) 0;
    padding-bottom: 90px;
    @include m.mq(sp_min){
        gap: 48px 0;
    }
    &__pointer{
        cursor: none;
        position: fixed;
        background-image: linear-gradient(-225deg, c.$green 0%, c.$purple 56%, c.$pink 100%);
        color: white;
        opacity: 0;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        z-index: 100;
        pointer-events: none;
        transition: width .5s var(--cb01),height .5s var(--cb01);
        display: grid;
        place-content: center;
        font-weight: var(--fw-light);
        font-size: .9rem;
        &.is_active{
            opacity: 1;
            width: 70px;
            height: 70px;
        }
    }
    .works-card{
        width: 47%;
        cursor: none;
        @include m.mq(sp_min){
            width: 100%;
        }
        &:hover{
            .works-card__wrapper{
                box-shadow: var(--bs-normal03);
                background-color: var(--sub-color);
            }
        }
        &__wrapper{
            position: relative;
            width: 100%;
            height: 0;
            background-color: var(--sub-color);
            padding-top: calc(350 / 450 * 100%);
            border-radius: var(--br);
            margin-bottom: 20px;
            transition: background-color .5s var(--cb01),box-shadow .5s var(--cb01);
        }
        &__text{
            text-align: left;
            font-weight: var(--fw-light);
            .year{
                display: block;
                border-bottom: 1px solid #ccc;
                font-size: .8rem;
                margin-bottom: 10px;
                padding-bottom: 4px;
            }
            .company{
                font-size: clamp(1rem,3vw,1.3rem);
                line-height: 1.2em;
                font-weight: 500;
            }
            .position{
                margin-bottom: 10px;
                font-weight: var(--fw-regular);
            }
            ul{
                @include m.flexbox(flex-start,stretch,wrap);
                gap: 10px;
                li{
                    font-size: .7rem;
                    min-width: 60px;
                    border: 1px solid #6d6d6d;
                    color: #6d6d6d;
                    padding: 0 0.8rem;
                    border-radius: var(--br);
                }
            }
        }
        img{
            width: 75%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(1);
            transition: transform .3s var(--cb01);
        }
        &:hover{
            img{
                transform: translate(-50%,-50%) scale(1.03);
            }
        }
    }
}